torch
torchaudio
torchdiffeq
transformers
cn2an
einops
huggingface-hub
jedi
jieba
Jinja2
librosa
muq
numpy
onnx
onnxruntime
pykakasi
setuptools_scm
pyopenjtalk
pyparsing
pypinyin
PyYAML
safetensors
scipy
unidecode
phonemizer
py3langid
